attrs==23.2.0 ; python_full_version == "3.11.4"
automat==22.10.0 ; python_full_version == "3.11.4"
cachetools==5.3.2 ; python_full_version == "3.11.4"
certifi==2024.2.2 ; python_full_version == "3.11.4"
cffi==1.16.0 ; platform_python_implementation != "PyPy" and python_full_version == "3.11.4"
charset-normalizer==3.3.2 ; python_full_version == "3.11.4"
constantly==23.10.4 ; python_full_version == "3.11.4"
cryptography==42.0.2 ; python_full_version == "3.11.4"
cssselect==1.2.0 ; python_full_version == "3.11.4"
filelock==3.13.1 ; python_full_version == "3.11.4"
google-api-core==2.17.0 ; python_full_version == "3.11.4"
google-auth==2.27.0 ; python_full_version == "3.11.4"
google-cloud-core==2.4.1 ; python_full_version == "3.11.4"
google-cloud-storage==2.14.0 ; python_full_version == "3.11.4"
google-crc32c==1.5.0 ; python_full_version == "3.11.4"
google-resumable-media==2.7.0 ; python_full_version == "3.11.4"
googleapis-common-protos==1.62.0 ; python_full_version == "3.11.4"
hyperlink==21.0.0 ; python_full_version == "3.11.4"
idna==3.6 ; python_full_version == "3.11.4"
incremental==22.10.0 ; python_full_version == "3.11.4"
itemadapter==0.8.0 ; python_full_version == "3.11.4"
itemloaders==1.1.0 ; python_full_version == "3.11.4"
jmespath==1.0.1 ; python_full_version == "3.11.4"
lxml==5.1.0 ; python_full_version == "3.11.4"
packaging==23.2 ; python_full_version == "3.11.4"
parsel==1.8.1 ; python_full_version == "3.11.4"
protego==0.3.0 ; python_full_version == "3.11.4"
protobuf==4.25.2 ; python_full_version == "3.11.4"
pyasn1-modules==0.3.0 ; python_full_version == "3.11.4"
pyasn1==0.5.1 ; python_full_version == "3.11.4"
pycparser==2.21 ; python_full_version == "3.11.4" and platform_python_implementation != "PyPy"
pydispatcher==2.0.7 ; platform_python_implementation == "CPython" and python_full_version == "3.11.4"
pyopenssl==24.0.0 ; python_full_version == "3.11.4"
pypydispatcher==2.1.2 ; platform_python_implementation == "PyPy" and python_full_version == "3.11.4"
python-dotenv==1.0.1 ; python_full_version == "3.11.4"
queuelib==1.6.2 ; python_full_version == "3.11.4"
requests-file==2.0.0 ; python_full_version == "3.11.4"
requests==2.31.0 ; python_full_version == "3.11.4"
rsa==4.9 ; python_full_version == "3.11.4"
scrapy-s3pipeline[gcs]==0.7.0 ; python_full_version == "3.11.4"
scrapy==2.9.0 ; python_full_version == "3.11.4"
scrapyd-client==1.2.3 ; python_full_version == "3.11.4"
scrapyd==1.4.3 ; python_full_version == "3.11.4"
service-identity==24.1.0 ; python_full_version == "3.11.4"
setuptools==69.0.3 ; python_full_version == "3.11.4"
six==1.16.0 ; python_full_version == "3.11.4"
tldextract==5.1.1 ; python_full_version == "3.11.4"
twisted-iocpsupport==1.0.4 ; platform_system == "Windows" and python_full_version == "3.11.4"
twisted==22.10.0 ; python_full_version == "3.11.4"
typing-extensions==4.9.0 ; python_full_version == "3.11.4"
uberegg==0.1.1 ; python_full_version == "3.11.4"
urllib3==2.2.0 ; python_full_version == "3.11.4"
w3lib==2.1.2 ; python_full_version == "3.11.4"
zope-interface==6.1 ; python_full_version == "3.11.4"
